.chat-log {
    height: 85vh;
    width: 100%;
}
.chat-form {
    width: 100%;
}
.chat-form div:nth-child(1) {
    flex: 1;
}
.chat-form legend {
    bottom: -10px;
    background: white;
}

.seen-node {
    width: 17px !important;
    height: 17px !important;
    position: relative;
    border-radius: 100%;
    overflow: hidden;
}
.chat-node {
    position: relative;
}
.chat-node.opposite {
    display: flex;
    flex-direction: row-reverse;
}
.chat-node > a:nth-child(1) {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    display: block;
    overflow: hidden;
}
.chat-node.opposite > a:nth-child(1) {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    overflow: hidden;
    display: block;
}
.chat-node > a img {
    object-fit: cover;
}
.chat-node > div > div:nth-child(1) {
    position: relative;
    top: -10px;
    max-width: calc(100vw - 65px);
    word-break: break-all;
    display: inline-block;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.seen-container {
    height: initial !important;
}
.chat-node > .chat-holder {
    padding-left: 35px;
    padding-right: 8px;
}
.chat-node.opposite > .chat-holder > .seen-container {
    margin-top: 22px;
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 8px;
}
.chat-node.left-side > .chat-holder > .seen-container {
    position: relative;
    top: -8px;
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 8px;
}
.chat-node.opposite > .chat-holder > div:nth-child(1) {
    position: relative;
    top: 20px;
    display: inline-block;
    word-break: break-all;
    max-width: calc(100vw - 65px);
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0px;
}
.preference-bubble {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: none;
    outline: none;
}
